gl-ai-console/n8n-workflows/revops-unenroll-sequence/workflow.json
{
  "name": "Unenroll Contact from HubSpot Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revops-unenroll-sequence",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-880, 192],
      "id": "webhook-unenroll-sequence",
      "name": "Catch Unenroll Request",
      "webhookId": "revops-unenroll-sequence-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validate-deal-id-exists",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "validate-deal-id-uuid",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-656, 192],
      "id": "validate-deal-id",
      "name": "Validate Deal ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-432, 96],
      "id": "get-deal-details",
      "name": "Get Deal Details",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-deal-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-208, 96],
      "id": "check-deal-found",
      "name": "Check Deal Found"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "contact",
        "operation": "search",
        "filterType": "query",
        "query": "={{ $('Get Deal Details').first().json.email }}"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [16, 0],
      "id": "search-hubspot-contact",
      "name": "Search HubSpot Contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contact-found",
              "leftValue": "={{ $json.total }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [240, 0],
      "id": "check-contact-found",
      "name": "Check Contact Found"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/automation/v4/sequences/enrollments/contact/{{ $json.results[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, -96],
      "id": "get-sequence-enrollments",
      "name": "Get Sequence Enrollments",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-enrollments",
              "leftValue": "={{ $json.results?.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [688, -96],
      "id": "check-has-enrollments",
      "name": "Has Active Enrollments?"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/automation/v4/sequences/enrollments/{{ $json.results[0].enrollmentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, -192],
      "id": "unenroll-from-sequence",
      "name": "Unenroll from Sequence",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "revops_pipeline_stage_data",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Deal Details').first().json.id }}"
            },
            {
              "keyName": "stage_id",
              "condition": "eq",
              "keyValue": "reminder-sequence"
            },
            {
              "keyName": "data_key",
              "condition": "eq",
              "keyValue": "unenrolled_at"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deal_id",
              "fieldValue": "={{ $('Get Deal Details').first().json.id }}"
            },
            {
              "fieldId": "stage_id",
              "fieldValue": "reminder-sequence"
            },
            {
              "fieldId": "data_key",
              "fieldValue": "unenrolled_at"
            },
            {
              "fieldId": "data_value",
              "fieldValue": "=\"{{ new Date().toISOString() }}\""
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1136, -192],
      "id": "update-unenrolled-at",
      "name": "Update Unenrolled At",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, deal_id: $('Get Deal Details').first().json.id, was_enrolled: true, message: 'Contact unenrolled from sequence' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, -192],
      "id": "respond-success-unenrolled",
      "name": "Respond Success (Unenrolled)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, deal_id: $('Get Deal Details').first().json.id, was_enrolled: false, message: 'Contact was not enrolled in any sequence' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [912, 0],
      "id": "respond-success-not-enrolled",
      "name": "Respond Success (Not Enrolled)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, deal_id: $('Get Deal Details').first().json.id, was_enrolled: false, message: 'HubSpot contact not found, assumed not enrolled' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [464, 96],
      "id": "respond-success-no-contact",
      "name": "Respond Success (No Contact)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Invalid deal_id provided. Must be a valid UUID.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-432, 288],
      "id": "respond-invalid-id",
      "name": "Respond Invalid ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Deal not found in database.' } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [16, 192],
      "id": "respond-deal-not-found",
      "name": "Respond Deal Not Found"
    }
  ],
  "connections": {
    "Catch Unenroll Request": {
      "main": [
        [
          {
            "node": "Validate Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal ID": {
      "main": [
        [
          {
            "node": "Get Deal Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Details": {
      "main": [
        [
          {
            "node": "Check Deal Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deal Found": {
      "main": [
        [
          {
            "node": "Search HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Deal Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search HubSpot Contact": {
      "main": [
        [
          {
            "node": "Check Contact Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Found": {
      "main": [
        [
          {
            "node": "Get Sequence Enrollments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success (No Contact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sequence Enrollments": {
      "main": [
        [
          {
            "node": "Has Active Enrollments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Enrollments?": {
      "main": [
        [
          {
            "node": "Unenroll from Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success (Not Enrolled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unenroll from Sequence": {
      "main": [
        [
          {
            "node": "Update Unenrolled At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unenrolled At": {
      "main": [
        [
          {
            "node": "Respond Success (Unenrolled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "tags": []
}
