gl-ai-console/n8n-workflows/create-hubspot-quote/workflow.json
{
  "name": "Create HubSpot Quote from RevOps Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-hubspot-quote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "b5a58f19-48eb-4c41-b6e5-0212637c2a09",
      "name": "Receive Quote Request",
      "webhookId": "create-hubspot-quote-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-deal-id-exists",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-deal-id-uuid",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        192
      ],
      "id": "b4aefba4-dba4-4751-83ff-422164ddcee0",
      "name": "Validate Deal ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Invalid deal_id - must be a valid UUID' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        288
      ],
      "id": "39354661-aa43-4728-9217-9b9c026b933a",
      "name": "Respond Invalid Deal ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Receive Quote Request').item.json.body.deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        96
      ],
      "id": "d8963592-1c81-4480-81d1-0d55774c6046",
      "name": "Get Deal from Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-hs-deal-exists",
              "leftValue": "={{ $json.hs_deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ],
      "id": "992a2fcb-9d35-42da-b814-613bd9890328",
      "name": "Has HubSpot Deal?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Deal does not have HubSpot Deal ID - sync deal first' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        192
      ],
      "id": "31f2bbde-917a-4305-a541-270feb2716f1",
      "name": "Respond No HubSpot Deal"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_stage_data",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "keyValue": "={{ $('Receive Quote Request').item.json.body.deal_id }}"
            },
            {
              "keyName": "stage_id",
              "keyValue": "create-quote"
            },
            {
              "keyName": "data_key",
              "keyValue": "line_items"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "6e961a21-4a01-4f65-9fb8-b173252bbbbc",
      "name": "Get Line Items from Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $('Get Deal from Supabase').item.json.hs_deal_id }}?associations=contacts,companies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "id": "eba05bb5-905a-4483-b330-9fdef97ce393",
      "name": "Get HubSpot Deal",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/quote_template?limit=1&properties=hs_name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ],
      "id": "f5c7f9f2-46ca-4a9b-b7a0-a5e815f1761c",
      "name": "Get Quote Template",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gather all data from previous nodes\nconst dealId = $('Receive Quote Request').first().json.body.deal_id;\nconst dealData = $('Get Deal from Supabase').first().json;\nconst hubspotDeal = $('Get HubSpot Deal').first().json;\nconst templateData = $('Get Quote Template').first().json;\n\n// Get line items from Supabase stage data\nconst lineItemsData = $('Get Line Items from Supabase').first().json;\nconst lineItems = lineItemsData?.data_value || [];\n\n// Extract IDs from HubSpot deal associations\nconst contactId = hubspotDeal.associations?.contacts?.results?.[0]?.id || null;\nconst companyId = hubspotDeal.associations?.companies?.results?.[0]?.id || null;\nconst templateId = templateData.results?.[0]?.id || null;\n\n// Calculate expiration date (30 days from now)\nconst expirationDays = 30;\nconst expDate = new Date();\nexpDate.setDate(expDate.getDate() + expirationDays);\nconst expirationDate = expDate.toISOString().split('T')[0];\n\n// Transform line items from Supabase format to HubSpot format\nconst hubspotLineItems = lineItems.map(item => ({\n  name: item.service,\n  description: item.description || '',\n  price: item.monthlyPrice,\n  quantity: 1,\n  recurring_period: 'P1M'\n}));\n\nreturn [{\n  json: {\n    deal_id: dealId,\n    hs_deal_id: dealData.hs_deal_id,\n    contact_id: contactId,\n    company_id: companyId,\n    template_id: templateId,\n    quote_title: `${dealData.company_name || 'Company'} - Monthly Services`,\n    expiration_date: expirationDate,\n    line_items: hubspotLineItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ],
      "id": "fe8c6917-dee7-4083-b5ba-a4aa3f5a7d9c",
      "name": "Prepare Quote Data"
    },
    {
      "parameters": {
        "jsCode": "// Get line items from previous node\nconst data = $input.first().json;\nconst lineItems = data.line_items || [];\n\n// Output each line item as a separate item for batch processing\nreturn lineItems.map(item => ({\n  json: {\n    ...data,\n    current_line_item: item\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "363a8388-01c5-41df-8f40-478d2c14e91c",
      "name": "Split Line Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/line_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"name\": \"{{ $json.current_line_item.name }}\",\n    \"price\": {{ $json.current_line_item.price }},\n    \"quantity\": {{ $json.current_line_item.quantity || 1 }},\n    \"description\": \"{{ $json.current_line_item.description || '' }}\",\n    \"hs_recurring_billing_period\": \"{{ $json.current_line_item.recurring_period || 'P1M' }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        0
      ],
      "id": "3d3447ac-2eb1-4230-bc4f-4e051fc1a616",
      "name": "Create Line Items",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all created line item IDs\nconst items = $input.all();\nconst lineItemIds = items.map(item => item.json.id);\n\n// Get the original data from Prepare Quote Data\nconst originalData = $('Prepare Quote Data').first().json;\n\nreturn [{\n  json: {\n    ...originalData,\n    line_item_ids: lineItemIds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ],
      "id": "38782733-81ec-4fe4-93c7-b6dfbd8b0854",
      "name": "Collect Line Item IDs"
    },
    {
      "parameters": {
        "jsCode": "// Get quote ID from creation response\nconst quoteId = $json.id;\n\n// Get data from Collect Line Item IDs\nconst data = $('Collect Line Item IDs').first().json;\n\nreturn [{\n  json: {\n    quote_id: quoteId,\n    hs_deal_id: data.hs_deal_id,\n    contact_id: data.contact_id,\n    company_id: data.company_id,\n    template_id: data.template_id,\n    line_item_ids: data.line_item_ids,\n    deal_id: data.deal_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        0
      ],
      "id": "1f1daadb-9e94-431a-bda1-397a2c6d6b3c",
      "name": "Prepare Associations"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $json.quote_id }}/associations/default/deals/{{ $json.hs_deal_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        0
      ],
      "id": "23774fbe-8896-4379-a042-5df913aab278",
      "name": "Associate with Deal",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $('Prepare Associations').item.json.quote_id }}/associations/default/contacts/{{ $('Prepare Associations').item.json.contact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        0
      ],
      "id": "bd5a8b98-59ea-4cda-852c-6c99fc845f3a",
      "name": "Associate with Contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $('Prepare Associations').item.json.quote_id }}/associations/default/companies/{{ $('Prepare Associations').item.json.company_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        0
      ],
      "id": "a48de257-17e3-409d-ad2b-289ec1675f6e",
      "name": "Associate with Company",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $('Prepare Associations').item.json.quote_id }}/associations/default/quote_template/{{ $('Prepare Associations').item.json.template_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3584,
        0
      ],
      "id": "778fd37f-3e87-42db-84f9-5abcb0c627a6",
      "name": "Associate with Template",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get line item IDs and quote ID\nconst data = $('Prepare Associations').first().json;\nconst lineItemIds = data.line_item_ids || [];\n\n// Return each line item ID for association\nreturn lineItemIds.map(id => ({\n  json: {\n    quote_id: data.quote_id,\n    line_item_id: id,\n    deal_id: data.deal_id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        0
      ],
      "id": "59290e3d-d570-4d2d-b3b5-b22f8a7203fc",
      "name": "Split Line Item Associations"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $json.quote_id }}/associations/default/line_items/{{ $json.line_item_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4032,
        0
      ],
      "id": "a5033ad4-ddb3-47a4-b594-7ef18845bee2",
      "name": "Associate Line Items",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the quote_id and deal_id from the first item\nconst data = $('Prepare Associations').first().json;\n\nreturn [{\n  json: {\n    quote_id: data.quote_id,\n    deal_id: data.deal_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        0
      ],
      "id": "8bd0062a-c45f-4dee-a44c-bb63ff7f6b6c",
      "name": "Get Quote ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/quotes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_title\": \"{{ $json.quote_title }}\",\n    \"hs_expiration_date\": \"{{ $json.expiration_date }}\",\n    \"hs_status\": \"DRAFT\",\n    \"hs_language\": \"en\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        0
      ],
      "id": "0af4ad88-cce1-4103-8a3b-ccc73be053c3",
      "name": "Create Quote",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/revops_pipeline_stage_data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal_id\": \"{{ $('Prepare Supabase Update').item.json.deal_id }}\",\n  \"stage_id\": \"create-quote\",\n  \"data_key\": \"hubspot_synced_at\",\n  \"data_value\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5376,
        0
      ],
      "id": "77923a48-3292-46db-b539-2b3300c3d7cd",
      "name": "Update HubSpot Synced At",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-header-auth",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/revops_pipeline_stage_data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal_id\": \"{{ $('Prepare Supabase Update').item.json.deal_id }}\",\n  \"stage_id\": \"create-quote\",\n  \"data_key\": \"hubspot_quote_link\",\n  \"data_value\": \"{{ $('Prepare Supabase Update').item.json.quote_link }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        0
      ],
      "id": "b7c657b7-4f64-4fa6-bc36-807a2656b88f",
      "name": "Update Quote Link",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-header-auth",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, quote_id: $('Prepare Supabase Update').item.json.quote_id, quote_link: $('Prepare Supabase Update').item.json.quote_link }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5824,
        0
      ],
      "id": "3b42d113-4a92-4cdf-9788-092cb0cd570f",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/quotes/{{ $json.quote_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_status\": \"APPROVAL_NOT_NEEDED\",\n    \"hs_domain\": \"growthlabfinancial-4723689.hs-sites.com\",\n    \"hs_slug\": \"quote-{{ $json.quote_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        0
      ],
      "id": "61df5bee-bade-44f0-be81-720b2ee73f00",
      "name": "Publish Quote",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/quotes/{{ $('Get Quote ID').item.json.quote_id }}?properties=hs_quote_link,hs_title,hs_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4704,
        0
      ],
      "id": "5b1b9bf1-5ee3-4b90-a5c6-55654d6eaa75",
      "name": "Get Quote Details",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract quote details\nconst quoteDetails = $json;\nconst dealId = $('Get Quote ID').first().json.deal_id;\nconst quoteId = $('Get Quote ID').first().json.quote_id;\nconst quoteLink = quoteDetails.properties?.hs_quote_link || null;\n\nreturn [{\n  json: {\n    deal_id: dealId,\n    quote_id: quoteId,\n    quote_link: quoteLink\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        0
      ],
      "id": "a429ee7f-e5a7-42b0-ac6c-a5e5d17264c5",
      "name": "Prepare Supabase Update"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/revops_pipeline_stage_data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal_id\": \"{{ $json.deal_id }}\",\n  \"stage_id\": \"create-quote\",\n  \"data_key\": \"hubspot_synced\",\n  \"data_value\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5152,
        0
      ],
      "id": "25d1716c-8f50-486c-a427-ba5c497a568f",
      "name": "Update HubSpot Synced",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-header-auth",
          "name": "Supabase Header Auth"
        }
      }
    }
  ],
  "pinData": {
    "Receive Quote Request": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1055749.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "50",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "68.6.247.35",
            "x-forwarded-host": "n8n.srv1055749.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "30ef30da0b1d",
            "x-real-ip": "68.6.247.35"
          },
          "params": {},
          "query": {},
          "body": {
            "deal_id": "86828116-46bb-41a4-819d-5d16e6dfcf7b"
          },
          "webhookUrl": "https://n8n.srv1055749.hstgr.cloud/webhook/create-hubspot-quote",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Quote Request": {
      "main": [
        [
          {
            "node": "Validate Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal ID": {
      "main": [
        [
          {
            "node": "Get Deal from Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal from Supabase": {
      "main": [
        [
          {
            "node": "Has HubSpot Deal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has HubSpot Deal?": {
      "main": [
        [
          {
            "node": "Get Line Items from Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Line Items from Supabase": {
      "main": [
        [
          {
            "node": "Get HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HubSpot Deal": {
      "main": [
        [
          {
            "node": "Get Quote Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote Template": {
      "main": [
        [
          {
            "node": "Prepare Quote Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Quote Data": {
      "main": [
        [
          {
            "node": "Split Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Line Items": {
      "main": [
        [
          {
            "node": "Create Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Line Items": {
      "main": [
        [
          {
            "node": "Collect Line Item IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Line Item IDs": {
      "main": [
        [
          {
            "node": "Create Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Associations": {
      "main": [
        [
          {
            "node": "Associate with Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Deal": {
      "main": [
        [
          {
            "node": "Associate with Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Contact": {
      "main": [
        [
          {
            "node": "Associate with Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Company": {
      "main": [
        [
          {
            "node": "Associate with Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Template": {
      "main": [
        [
          {
            "node": "Split Line Item Associations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Line Item Associations": {
      "main": [
        [
          {
            "node": "Associate Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Line Items": {
      "main": [
        [
          {
            "node": "Get Quote ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote ID": {
      "main": [
        [
          {
            "node": "Publish Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Quote": {
      "main": [
        [
          {
            "node": "Prepare Associations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Synced At": {
      "main": [
        [
          {
            "node": "Update Quote Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Quote Link": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Quote": {
      "main": [
        [
          {
            "node": "Get Quote Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote Details": {
      "main": [
        [
          {
            "node": "Prepare Supabase Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Update": {
      "main": [
        [
          {
            "node": "Update HubSpot Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Synced": {
      "main": [
        [
          {
            "node": "Update HubSpot Synced At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "d97a26ad-0878-4d91-9f8f-6276000f08b6",
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "FzfX1zq42asdmdOkDrS_P",
  "tags": []
}