gl-ai-console/n8n-workflows/anchor-contact-proposal-draft/workflow.json
{
  "name": "Create Contact & Proposal Draft In Anchor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anchor-contact-proposal",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c6cbbec4-7b83-4f15-9d37-321b00cdd4f2",
      "name": "Catch Project ID",
      "webhookId": "9ecfa1fd-0b6b-4b60-bfe7-78cdcb8713e5"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "strms_projects",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "48c3a44a-ecf7-4ed8-9d14-749b5d813766",
      "name": "Get Project Details",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "strms_sprint_pricing",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "condition": "eq",
              "keyValue": "={{ $('Catch Project ID').item.json.body.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "1e3ea472-d74f-4af4-a3c0-aff4d224a8dc",
      "name": "Get Project Sprint Data",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sayanchor.com/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Anchor-User-Email",
              "value": "n.sementilli@strms.io"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "companyName",
              "value": "={{ $('Get Project Details').item.json.company }}"
            },
            {
              "name": "email",
              "value": "={{ $('Get Project Details').item.json.email }}"
            },
            {
              "name": "firstName",
              "value": "={{ $('Get Project Details').item.json.contact_name.split(' ')[0] }}"
            },
            {
              "name": "lastName",
              "value": "={{ $('Get Project Details').item.json.contact_name.split(' ')[1] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "anchorCreateContact"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "469b0405-aa94-4bc5-899c-6ac1efc4f7bf",
      "name": "Create Contact In Anchor",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vbfXfVnI0O0ES2S",
          "name": "Anchor API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let sprintLength = $('Get Project Sprint Data').first().json.confirmed_sprint_length;\n\nconst templateMap = {\n  0.5: \"proposal-template-z269G9ZzoYkX-p7RZvYHpJ0T6uppr\",\n  1:   \"proposal-template-z269G9DRlUGN-92xi7yQuHpuBXxXH\",\n  1.5: \"proposal-template-z269G8km5Zev-OlbEj0v3J2SWBZ5s\",\n  2:   \"proposal-template-z269G7v4wU8g-G5pxzuHc1DFMMPPr\"\n};\n\nconst proposalTemplateID = templateMap[sprintLength] || null;\n\nreturn [\n  {\n    json: {\n      proposalTemplateID\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "7d077e46-e9ec-4f22-b0f8-da18cb2995ce",
      "name": "Return Proposal Template ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sayanchor.com/proposal-drafts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Anchor-User-Email",
              "value": "n.sementilli@strms.io"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Create Contact In Anchor').item.json.anchorCreateContact }}"
            },
            {
              "name": "proposalTemplateId",
              "value": "={{ $json.proposalTemplateID }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "anchorCreateProposalDraft"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        0
      ],
      "id": "2bdd9d24-b6d5-48e0-970c-2127c2c9d9fc",
      "name": "Create Proposal Draft In Anchor",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vbfXfVnI0O0ES2S",
          "name": "Anchor API Key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Catch Project ID": {
      "main": [
        [
          {
            "node": "Get Project Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Details": {
      "main": [
        [
          {
            "node": "Get Project Sprint Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Sprint Data": {
      "main": [
        [
          {
            "node": "Create Contact In Anchor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact In Anchor": {
      "main": [
        [
          {
            "node": "Return Proposal Template ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Proposal Template ID": {
      "main": [
        [
          {
            "node": "Create Proposal Draft In Anchor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "373bc6cb-eaca-481c-9f58-d710fc575115",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "CFFP4cTpzU89bhpE",
  "tags": []
}