gl-ai-console/n8n-workflows/webhook-receivers/HubSpot Webhook Receiver.json
{
  "name": "HubSpot Webhook Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receive-hubspot-events",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -208
      ],
      "id": "33b46d66-3a7f-4f0f-b1c0-f3f2b9977198",
      "name": "Receive HubSpot Events",
      "webhookId": "0d5fe79e-72d1-4928-b039-2eab0337ba92"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.some(e => e.subscriptionType === 'deal.creation') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "6072a674-f9bd-4829-9518-253b1b1a8d91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deal Creation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "stage-change-condition",
                    "leftValue": "={{ $json.body.some(e => e.subscriptionType === 'deal.propertyChange' && e.propertyName === 'dealstage') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "no-creation-condition",
                    "leftValue": "={{ !$json.body.some(e => e.subscriptionType === 'deal.creation') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deal Stage Change"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99a6741f-36c7-444e-be9c-8dce7458ea1f",
                    "leftValue": "={{ !$json.body.some(e => e.subscriptionType === 'deal.creation') && !$json.body.some(e => e.subscriptionType === 'deal.propertyChange' && e.propertyName === 'dealstage') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -96,
        -224
      ],
      "id": "a5c4fc78-5294-457e-88a9-dbfdb644e2fe",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1055749.hstgr.cloud/webhook/funnel-to-pipeline",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Receive HubSpot Events').item.json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -304
      ],
      "id": "0f333713-c6ab-4977-bc24-f9610329d4f5",
      "name": "Call 'HubSpot Deal Created - Migrate Funnel to Pipeline' - WH"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1055749.hstgr.cloud/webhook/revops-hubspot-stage-change",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Receive HubSpot Events').item.json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -112
      ],
      "id": "c90e277c-7084-459c-a77c-0517962abf0d",
      "name": "Call 'Handle HubSpot Stage Change' - WH"
    }
  ],
  "pinData": {
    "Receive HubSpot Events": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1055749.hstgr.cloud",
            "user-agent": "HubSpot Connect 2.0 (http://dev.hubspot.com/) (namespace: webhooks-nio-http-client) - WebhooksExecutorDaemon-executor",
            "content-length": "264",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "54.174.62.179",
            "x-forwarded-host": "n8n.srv1055749.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "658a1a16248d",
            "x-hubspot-request-timestamp": "1767823092731",
            "x-hubspot-signature": "61388ffa451abb95d58317b7b53132018b4bec5c14863cd0568f925d039a9f40",
            "x-hubspot-signature-v3": "4JGjgDYZsfDSg741jJWavFrK0lmdQ70uKc2zuCK8s9k=",
            "x-hubspot-signature-version": "v1",
            "x-hubspot-timeout-millis": "10000",
            "x-real-ip": "54.174.62.179",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "eventId": 4028585488,
              "subscriptionId": 5108761,
              "portalId": 4723689,
              "appId": 22032041,
              "occurredAt": 1767823092255,
              "subscriptionType": "deal.creation",
              "attemptNumber": 0,
              "objectId": 53394414098,
              "changeFlag": "CREATED",
              "changeSource": "CRM_UI",
              "sourceId": "userId:45206060"
            }
          ],
          "webhookUrl": "https://n8n.srv1055749.hstgr.cloud/webhook/0d5fe79e-72d1-4928-b039-2eab0337ba92",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Receive HubSpot Events": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'HubSpot Deal Created - Migrate Funnel to Pipeline' - WH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Handle HubSpot Stage Change' - WH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "7ee47f61-2b93-4f3f-b07f-68b4e3466798",
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "IeUDhQVCPMV8CsXJ",
  "tags": []
}