gl-ai-console/n8n-workflows/revops-enroll-sequence/workflow.json
{
  "name": "Enroll Contact in HubSpot Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revops-enroll-sequence",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2688,
        480
      ],
      "id": "c8a5fd60-dcdc-486d-a59e-b49b5a050da0",
      "name": "Catch Enroll Request",
      "webhookId": "revops-enroll-sequence-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validate-deal-id-exists",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "validate-deal-id-uuid",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2464,
        480
      ],
      "id": "6fd519b8-6b42-4da0-88c9-e95e3b44294c",
      "name": "Validate Deal ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2240,
        384
      ],
      "id": "8ef79a99-d631-4554-93b6-dadb28e0bd99",
      "name": "Get Deal Details",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-deal-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2016,
        384
      ],
      "id": "05e70e9c-ba1d-4fe2-a851-42c3962e8d7f",
      "name": "Check Deal Found"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_sales_intakes",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "keyValue": "={{ $('Get Deal Details').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1792,
        288
      ],
      "id": "e11c03ae-0e68-4e01-bd3d-eed325f9a459",
      "name": "Get Sales Intake",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-platform-qbo",
              "leftValue": "={{ $json.accounting_platform }}",
              "rightValue": "qbo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        288
      ],
      "id": "1bd8418a-0e08-480a-8dba-fe8eb1494fc5",
      "name": "Is QBO?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-platform-xero",
              "leftValue": "={{ $('Get Sales Intake').first().json.accounting_platform }}",
              "rightValue": "xero",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1344,
        384
      ],
      "id": "3bae7261-a631-4fa4-8c82-638eea4860ef",
      "name": "Is Xero?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-sequence-id-qbo",
              "name": "sequence_id",
              "value": "279171609",
              "type": "string"
            },
            {
              "id": "set-sequence-name-qbo",
              "name": "sequence_name",
              "value": "QBO Access",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        96
      ],
      "id": "fe326645-94ed-4788-8262-a4b724892491",
      "name": "Set QBO Sequence"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-sequence-id-xero",
              "name": "sequence_id",
              "value": "293844634",
              "type": "string"
            },
            {
              "id": "set-sequence-name-xero",
              "name": "sequence_name",
              "value": "Xero Access",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        288
      ],
      "id": "4fddac7e-9a90-43e9-a654-09b0679a647a",
      "name": "Set Xero Sequence"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "limit": 1,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Get Deal Details').item.json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -896,
        192
      ],
      "id": "fd317f7a-df6e-4d88-bcbd-30f77aa70ad9",
      "name": "Search HubSpot Contact",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contact-found",
              "leftValue": "={{ Object.keys($json).length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        192
      ],
      "id": "554ce227-52fe-42e4-b73b-94612e76ac68",
      "name": "Check Contact Found"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/automation/v4/sequences/enrollments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "664091983"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: String($('Search HubSpot Contact').item.json.id), sequenceId: $('Set QBO Sequence').first().json.sequence_id || $('Set Xero Sequence').first().json.sequence_id, senderEmail: 't.scullion@growthlabfinancial.com' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        96
      ],
      "id": "bc63c951-a1a9-4446-ac77-f061fc5ae373",
      "name": "Enroll in Sequence",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-enrollment-success",
              "leftValue": "={{ $json.enrollmentId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "95886fcd-8157-451d-b96c-fd302b027816",
      "name": "Check Enrollment Success"
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bd7e3dc3-8c62-4d6e-974f-2be228f919aa",
      "name": "Update Stage Status",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "76e43fb1-0efb-4873-a274-6427499a95fd",
      "name": "Update Enrolled At",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, deal_id: $('Get Deal Details').first().json.id, contact_id: $('Search HubSpot Contact').first().json.results[0].id, sequence_id: $('Set QBO Sequence').first().json.sequence_id || $('Set Xero Sequence').first().json.sequence_id, sequence_name: $('Set QBO Sequence').first().json.sequence_name || $('Set Xero Sequence').first().json.sequence_name, message: 'Contact enrolled in sequence' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "1aef81eb-1d1b-4491-a39b-2285f5c4de02",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Invalid deal_id provided. Must be a valid UUID.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2240,
        576
      ],
      "id": "e22294bb-d055-4fa9-b1c6-3e355b8552ff",
      "name": "Respond Invalid ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Deal not found in database.' } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1792,
        480
      ],
      "id": "615c2cce-d68f-4b12-ac9a-b4f7cbd17f60",
      "name": "Respond Deal Not Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'No automated sequence available for this platform. Please follow up manually.', requires_manual_follow_up: true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1120,
        480
      ],
      "id": "9cecbb9a-8fe1-49ec-819d-fef32be104e4",
      "name": "Respond No Sequence (Other Platform)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'HubSpot contact not found for email: ' + $('Get Deal Details').first().json.email } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -448,
        288
      ],
      "id": "beb134b0-da1d-4655-a1ab-f8a7170ad21b",
      "name": "Respond Contact Not Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Failed to enroll contact in sequence: ' + JSON.stringify($json) } }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "id": "23c1f9f9-0f0a-421e-962a-6c5e2f73721a",
      "name": "Respond Enrollment Failed"
    }
  ],
  "pinData": {
    "Catch Enroll Request": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1055749.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "50",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "68.6.247.35",
            "x-forwarded-host": "n8n.srv1055749.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "30ef30da0b1d",
            "x-real-ip": "68.6.247.35"
          },
          "params": {},
          "query": {},
          "body": {
            "deal_id": "86828116-46bb-41a4-819d-5d16e6dfcf7b"
          },
          "webhookUrl": "https://n8n.srv1055749.hstgr.cloud/webhook/revops-enroll-sequence",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Catch Enroll Request": {
      "main": [
        [
          {
            "node": "Validate Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal ID": {
      "main": [
        [
          {
            "node": "Get Deal Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Details": {
      "main": [
        [
          {
            "node": "Check Deal Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deal Found": {
      "main": [
        [
          {
            "node": "Get Sales Intake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Deal Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Intake": {
      "main": [
        [
          {
            "node": "Is QBO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is QBO?": {
      "main": [
        [
          {
            "node": "Set QBO Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Xero?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Xero?": {
      "main": [
        [
          {
            "node": "Set Xero Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Sequence (Other Platform)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set QBO Sequence": {
      "main": [
        [
          {
            "node": "Search HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Xero Sequence": {
      "main": [
        [
          {
            "node": "Search HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search HubSpot Contact": {
      "main": [
        [
          {
            "node": "Check Contact Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Found": {
      "main": [
        [
          {
            "node": "Enroll in Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Contact Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Sequence": {
      "main": [
        [
          {
            "node": "Check Enrollment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrollment Success": {
      "main": [
        [
          {
            "node": "Update Stage Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Enrollment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Stage Status": {
      "main": [
        [
          {
            "node": "Update Enrolled At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Enrolled At": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "8ff411fc-c167-4f74-a32f-7166b3192fb8",
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "vuXYlrghGDUMqeEPHFdjn",
  "tags": []
}