gl-ai-console/n8n-workflows/revops-enroll-sequence/workflow.json
{
  "name": "Enroll Contact in HubSpot Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revops-enroll-sequence",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2224,
        288
      ],
      "id": "15155a43-0e3e-4f29-95fe-3dc21330f260",
      "name": "Catch Enroll Request",
      "webhookId": "revops-enroll-sequence-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validate-deal-id-exists",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "validate-deal-id-uuid",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        288
      ],
      "id": "f5aff46b-eee2-4ef6-b321-beab8e576520",
      "name": "Validate Deal ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1776,
        192
      ],
      "id": "c3008faa-38e4-4287-8df3-4f9f4a6d465b",
      "name": "Get Deal Details",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-deal-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        192
      ],
      "id": "419b03a4-08db-4df9-86a1-d924bd92ed5e",
      "name": "Check Deal Found"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_sales_intakes",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "keyValue": "={{ $('Get Deal Details').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        96
      ],
      "id": "a95cdd9a-e702-421a-931c-ec64569f5cc6",
      "name": "Get Sales Intake",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-platform-qbo",
              "leftValue": "={{ $json.accounting_platform }}",
              "rightValue": "qbo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        96
      ],
      "id": "06abb87e-47eb-4ce1-a458-afda62256ffb",
      "name": "Is QBO?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-platform-xero",
              "leftValue": "={{ $('Get Sales Intake').first().json.accounting_platform }}",
              "rightValue": "xero",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        192
      ],
      "id": "d199756a-ea1d-4790-809c-2d8141a21ac5",
      "name": "Is Xero?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-sequence-id-qbo",
              "name": "sequence_id",
              "value": "279171609",
              "type": "string"
            },
            {
              "id": "set-sequence-name-qbo",
              "name": "sequence_name",
              "value": "QBO Access",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -96
      ],
      "id": "0d0a44ef-4029-47c6-91a5-d65d2a8ad517",
      "name": "Set QBO Sequence"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-sequence-id-xero",
              "name": "sequence_id",
              "value": "293844634",
              "type": "string"
            },
            {
              "id": "set-sequence-name-xero",
              "name": "sequence_name",
              "value": "Xero Access",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        96
      ],
      "id": "c4dc3383-a9cc-40d8-ae6e-5c58844f0d4e",
      "name": "Set Xero Sequence"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "limit": 1,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Get Deal Details').item.json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -432,
        0
      ],
      "id": "2c82c551-0a26-4025-92bd-48164607fb84",
      "name": "Search HubSpot Contact",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contact-found",
              "leftValue": "={{ Object.keys($json).length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        0
      ],
      "id": "cbebe85f-8223-465e-b48b-df7ab947aa5f",
      "name": "Check Contact Found"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/automation/v4/sequences/enrollments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: String($('Search HubSpot Contact').item.json.id), sequenceId: $('Set QBO Sequence').first().json.sequence_id || $('Set Xero Sequence').first().json.sequence_id, senderEmail: 'nick@growthlab.cc' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -96
      ],
      "id": "fbfb02fa-2225-406d-82e8-612907d132bb",
      "name": "Enroll in Sequence",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-enrollment-success",
              "leftValue": "={{ $json.enrollmentId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -96
      ],
      "id": "0609aad9-938d-47bf-8f49-e112603fe30f",
      "name": "Check Enrollment Success"
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        -192
      ],
      "id": "dd65e18e-1f2e-4d52-abf0-678a6c74b143",
      "name": "Update Stage Status",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        -192
      ],
      "id": "06418a91-adf9-49cc-a4fc-23b46a592091",
      "name": "Update Enrolled At",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, deal_id: $('Get Deal Details').first().json.id, contact_id: $('Search HubSpot Contact').first().json.results[0].id, sequence_id: $('Set QBO Sequence').first().json.sequence_id || $('Set Xero Sequence').first().json.sequence_id, sequence_name: $('Set QBO Sequence').first().json.sequence_name || $('Set Xero Sequence').first().json.sequence_name, message: 'Contact enrolled in sequence' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        912,
        -192
      ],
      "id": "b1fbd6bd-6f72-407b-b428-f7de32b5e81d",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Invalid deal_id provided. Must be a valid UUID.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1776,
        384
      ],
      "id": "d555caeb-1bf8-4779-ac8e-5e7e96b835b4",
      "name": "Respond Invalid ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Deal not found in database.' } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1328,
        288
      ],
      "id": "048b2c99-71c4-4760-a78c-5c5ebab3ef45",
      "name": "Respond Deal Not Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'No automated sequence available for this platform. Please follow up manually.', requires_manual_follow_up: true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -656,
        288
      ],
      "id": "c4b017b1-3a81-4cbf-96f0-3e6b1815271c",
      "name": "Respond No Sequence (Other Platform)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'HubSpot contact not found for email: ' + $('Get Deal Details').first().json.email } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        96
      ],
      "id": "7fc66444-2357-4221-8bbb-16d9c8ddb1b4",
      "name": "Respond Contact Not Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Failed to enroll contact in sequence: ' + JSON.stringify($json) } }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        0
      ],
      "id": "5d294ff2-8868-4995-8d9d-a295893fda83",
      "name": "Respond Enrollment Failed"
    }
  ],
  "pinData": {
    "Catch Enroll Request": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1055749.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "50",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "68.6.247.35",
            "x-forwarded-host": "n8n.srv1055749.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "30ef30da0b1d",
            "x-real-ip": "68.6.247.35"
          },
          "params": {},
          "query": {},
          "body": {
            "deal_id": "86828116-46bb-41a4-819d-5d16e6dfcf7b"
          },
          "webhookUrl": "https://n8n.srv1055749.hstgr.cloud/webhook/revops-enroll-sequence",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Catch Enroll Request": {
      "main": [
        [
          {
            "node": "Validate Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal ID": {
      "main": [
        [
          {
            "node": "Get Deal Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Details": {
      "main": [
        [
          {
            "node": "Check Deal Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deal Found": {
      "main": [
        [
          {
            "node": "Get Sales Intake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Deal Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Intake": {
      "main": [
        [
          {
            "node": "Is QBO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is QBO?": {
      "main": [
        [
          {
            "node": "Set QBO Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Xero?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Xero?": {
      "main": [
        [
          {
            "node": "Set Xero Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Sequence (Other Platform)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set QBO Sequence": {
      "main": [
        [
          {
            "node": "Search HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Xero Sequence": {
      "main": [
        [
          {
            "node": "Search HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search HubSpot Contact": {
      "main": [
        [
          {
            "node": "Check Contact Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Found": {
      "main": [
        [
          {
            "node": "Enroll in Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Contact Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Sequence": {
      "main": [
        [
          {
            "node": "Check Enrollment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrollment Success": {
      "main": [
        [
          {
            "node": "Update Stage Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Enrollment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Stage Status": {
      "main": [
        [
          {
            "node": "Update Enrolled At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Enrolled At": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "27ddd32a-6cc8-4108-ae0b-d22dbe059780",
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "fhqhZLGQoH8l_GU6ycHqx",
  "tags": []
}