gl-ai-console/n8n-workflows/marketing/content-sync-blogs.json
{
  "name": "Marketing - Sync Blogs from Website",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Daily 2AM Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing/content-sync",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 200],
      "id": "webhook-trigger",
      "name": "Manual Sync Trigger",
      "webhookId": "content-sync-webhook"
    },
    {
      "parameters": {
        "url": "https://growthlab.com/resource-center/blog",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 100],
      "id": "fetch-blog-listing",
      "name": "Fetch Blog Listing Page"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "blogPosts",
              "cssSelector": ".blog-post-card, .resource-card, article",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [440, 100],
      "id": "extract-blog-links",
      "name": "Extract Blog Post Links"
    },
    {
      "parameters": {
        "jsCode": "// Parse blog listing and extract URLs\nconst html = $input.first().json.blogPosts || [];\nconst baseUrl = 'https://growthlab.com';\n\n// This is a placeholder - actual implementation depends on site structure\n// You'll need to adjust selectors based on the actual HTML structure\nconst blogUrls = [];\n\n// For now, return sample structure\nreturn [{\n  json: {\n    message: 'Blog scraping requires site-specific selectors',\n    baseUrl: baseUrl,\n    note: 'Update this node with actual CSS selectors from growthlab.com'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100],
      "id": "parse-blog-urls",
      "name": "Parse Blog URLs"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "marketing_sync_logs",
        "fieldsToSend": {
          "mappingMode": "defineBelow",
          "value": {
            "sync_type": "blogs",
            "status": "running",
            "started_at": "={{ $now.toISO() }}"
          }
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, 100],
      "id": "create-sync-log",
      "name": "Create Sync Log",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "marketing_sync_logs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Sync Log').item.json.id }}"
            }
          ]
        },
        "fieldsToSend": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "completed_at": "={{ $now.toISO() }}",
            "items_processed": "={{ $json.itemsProcessed || 0 }}",
            "items_added": "={{ $json.itemsAdded || 0 }}",
            "items_updated": "={{ $json.itemsUpdated || 0 }}"
          }
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 100],
      "id": "update-sync-log",
      "name": "Update Sync Log",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"syncType\": \"blogs\",\n  \"itemsProcessed\": {{ $json.itemsProcessed || 0 }},\n  \"itemsAdded\": {{ $json.itemsAdded || 0 }},\n  \"itemsUpdated\": {{ $json.itemsUpdated || 0 }}\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 200],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Daily 2AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Blog Listing Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Sync Trigger": {
      "main": [
        [
          {
            "node": "Fetch Blog Listing Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Blog Listing Page": {
      "main": [
        [
          {
            "node": "Extract Blog Post Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Blog Post Links": {
      "main": [
        [
          {
            "node": "Parse Blog URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Blog URLs": {
      "main": [
        [
          {
            "node": "Create Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sync Log": {
      "main": [
        [
          {
            "node": "Update Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Marketing",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Content Sync",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
