gl-ai-console/n8n-workflows/marketing/content-sync-youtube.json
{
  "name": "Marketing - Sync YouTube Videos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        7136,
        -464
      ],
      "id": "ba946640-3486-4ed7-b563-6152ed60f44f",
      "name": "Daily 3AM Trigger"
    },
    {
      "parameters": {
        "tableId": "marketing_sync_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sync_type",
              "fieldValue": "youtube"
            },
            {
              "fieldId": "status",
              "fieldValue": "running"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7360,
        -464
      ],
      "id": "6dde8287-4da8-42ab-a4b3-00cc7b182500",
      "name": "Create Sync Log",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "operation": "getAll",
        "playlistId": "=UUCmQ-QPTsHeDz9VeouXPy5Q",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7584,
        -464
      ],
      "id": "5f39b01f-1fde-46c5-bb44-ce6c01263ff4",
      "name": "Fetch Channel Videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "9JYQ24N8LsnQyb1k",
          "name": "Google App For n8n - Youtube"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process YouTube videos and format for Supabase\nconst videos = $input.all();\n\n// Handle case where no videos were returned\nif (!videos || videos.length === 0) {\n  return [{\n    json: {\n      _noVideos: true,\n      itemsProcessed: 0\n    }\n  }];\n}\n\nconst timestamp = new Date().toISOString();\n\nconst formattedVideos = videos.map(video => {\n  const snippet = video.json.snippet || {};\n  const contentDetails = video.json.contentDetails || {};\n  const resourceId = snippet.resourceId || {};\n  \n  // Get video ID from multiple possible locations\n  const videoId = contentDetails.videoId || resourceId.videoId || '';\n  \n  return {\n    json: {\n      title: snippet.title || 'Untitled Video',\n      content_type: 'youtube',\n      url: videoId ? `https://www.youtube.com/watch?v=${videoId}` : '',\n      source_platform: 'youtube',\n      source_id: videoId,\n      status: 'published',\n      author: snippet.channelTitle || 'GrowthLab',\n      description: (snippet.description || '').substring(0, 500),\n      full_content: snippet.description || '',\n      date_created: snippet.publishedAt || timestamp,\n      synced_at: timestamp\n    }\n  };\n}).filter(v => v.json.source_id); // Filter out any without valid video IDs\n\n// If all videos were filtered out (no valid IDs), return no-videos marker\nreturn formattedVideos.length > 0 ? formattedVideos : [{ json: { _noVideos: true, itemsProcessed: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        -464
      ],
      "id": "abbd9435-4d57-4ca5-9349-b9ef5bad8078",
      "name": "Format Videos for DB",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-source-id",
              "leftValue": "={{ $json.source_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8032,
        -464
      ],
      "id": "32b05374-aafd-4816-9d95-f228caf5e327",
      "name": "Has Videos?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scahyfdsgpfurpcnwyrb.supabase.co/rest/v1/marketing_content_items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjYWh5ZmRzZ3BmdXJwY253eXJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5NjcwNjQsImV4cCI6MjA3MzU0MzA2NH0.cXW6ZfijLsA4fTkb-Zyptxp2TkUBBrADVONFvtopAPc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8256,
        -560
      ],
      "id": "64e011c8-6653-4d7f-9ff0-b9fac700f742",
      "name": "Upsert Videos to DB",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8o7ThfsHa3QWcSYa",
          "name": "GL AI Console Supabase Service Role Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Count results for sync log\nconst items = $input.all();\n\n// Filter out any error items or skipped items\nconst validItems = items.filter(item => !item.json._skip && !item.json.error);\n\nreturn [{\n  json: {\n    itemsProcessed: validItems.length,\n    itemsAdded: validItems.length,\n    itemsUpdated: 0,\n    status: 'completed'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8480,
        -560
      ],
      "id": "8d28661c-6b74-43bf-b424-1a04d5faa926",
      "name": "Count Results",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "marketing_sync_logs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Sync Log').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "items_processed",
              "fieldValue": "={{ $json.itemsProcessed }}"
            },
            {
              "fieldId": "items_added",
              "fieldValue": "={{ $json.itemsAdded }}"
            },
            {
              "fieldId": "items_updated",
              "fieldValue": "={{ $json.itemsUpdated }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8704,
        -560
      ],
      "id": "070999fd-f532-4fb9-8568-f46263f7dd65",
      "name": "Update Sync Log",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "marketing_sync_logs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Sync Log').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "items_processed",
              "fieldValue": "0"
            },
            {
              "fieldId": "items_added",
              "fieldValue": "0"
            },
            {
              "fieldId": "items_updated",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8256,
        -368
      ],
      "id": "491d7319-f736-4265-98b9-99073ab4056e",
      "name": "Update Sync Log (Empty)",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 3AM Trigger": {
      "main": [
        [
          {
            "node": "Create Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sync Log": {
      "main": [
        [
          {
            "node": "Fetch Channel Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Channel Videos": {
      "main": [
        [
          {
            "node": "Format Videos for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Videos for DB": {
      "main": [
        [
          {
            "node": "Has Videos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Videos?": {
      "main": [
        [
          {
            "node": "Upsert Videos to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sync Log (Empty)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Videos to DB": {
      "main": [
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Results": {
      "main": [
        [
          {
            "node": "Update Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "86c60ea5-d90a-4afe-9ccc-26dc601e0782",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "idnY7wm9ITrt1EA1VgTRG",
  "tags": [
    {
      "updatedAt": "2026-02-04T21:55:13.753Z",
      "createdAt": "2026-02-04T21:55:13.753Z",
      "id": "1wa7NISUpdKEFpM9",
      "name": "Marketing"
    },
    {
      "updatedAt": "2026-02-04T21:55:13.760Z",
      "createdAt": "2026-02-04T21:55:13.760Z",
      "id": "BqwL4o9obdJJtTme",
      "name": "Content Sync"
    }
  ]
}
