gl-ai-console/n8n-workflows/marketing/content-sync-youtube.json
{
  "name": "Marketing - Sync YouTube Videos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        56928,
        8128
      ],
      "id": "b637c03b-beaa-4c8d-b129-1d6b59c15672",
      "name": "Daily 3AM Trigger"
    },
    {
      "parameters": {
        "tableId": "marketing_sync_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sync_type",
              "fieldValue": "youtube"
            },
            {
              "fieldId": "status",
              "fieldValue": "running"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        57152,
        8128
      ],
      "id": "34122a0c-71ec-40b5-9496-2d20587fde1b",
      "name": "Create Sync Log",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "marketing_content_items",
        "returnAll": true,
        "filterType": "string",
        "filterString": "source_platform=eq.youtube"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        57376,
        8128
      ],
      "id": "399ee78a-cc76-4a29-9201-9933f4ba814d",
      "name": "Get Existing YouTube IDs",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Store existing IDs in workflow static data for later use\nconst items = $input.all();\nconst existingIds = items.map(item => item.json.source_id).filter(id => id);\n\n// Store in workflow static data so we can access it later\n$getWorkflowStaticData('global').existingYouTubeIds = existingIds;\n\nreturn [{ json: { existingCount: existingIds.length, existingIds } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        57600,
        8128
      ],
      "id": "b9299d1f-be14-4c3c-83f9-bbcb5151a92b",
      "name": "Store Existing IDs",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "operation": "getAll",
        "playlistId": "=UUCmQ-QPTsHeDz9VeouXPy5Q",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        57824,
        8128
      ],
      "id": "ff14cecd-6f46-4a94-8309-5181534e1a41",
      "name": "Fetch Channel Videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "9JYQ24N8LsnQyb1k",
          "name": "Google App For n8n - Youtube"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get YouTube videos and filter to only NEW videos\nconst videos = $input.all();\n\n// Get existing IDs from workflow static data\nconst existingIds = new Set($getWorkflowStaticData('global').existingYouTubeIds || []);\n\n// Handle case where no videos from YouTube\nif (!videos || videos.length === 0) {\n  return [{\n    json: {\n      _noNewVideos: true,\n      itemsProcessed: 0\n    }\n  }];\n}\n\nconst timestamp = new Date().toISOString();\n\n// Format and filter to only NEW videos\nconst newVideos = videos\n  .map(item => {\n    const video = item.json;\n    const snippet = video.snippet || {};\n    const contentDetails = video.contentDetails || {};\n    const resourceId = snippet.resourceId || {};\n    \n    // Get video ID from multiple possible locations\n    const videoId = contentDetails.videoId || resourceId.videoId || '';\n    \n    return {\n      videoId,\n      title: snippet.title || 'Untitled Video',\n      content_type: 'youtube',\n      url: videoId ? `https://www.youtube.com/watch?v=${videoId}` : '',\n      source_platform: 'youtube',\n      source_id: videoId,\n      status: 'published',\n      author: snippet.channelTitle || 'GrowthLab',\n      description: (snippet.description || '').substring(0, 500),\n      full_content: snippet.description || '',\n      date_created: snippet.publishedAt || timestamp,\n      synced_at: timestamp\n    };\n  })\n  .filter(v => v.source_id && !existingIds.has(v.source_id)); // Only NEW videos\n\n// If no new videos, return marker\nif (newVideos.length === 0) {\n  return [{\n    json: {\n      _noNewVideos: true,\n      itemsProcessed: 0,\n      existingCount: existingIds.size,\n      totalFromYouTube: videos.length\n    }\n  }];\n}\n\n// Return each new video as separate item for processing\nreturn newVideos.map(video => ({ json: video }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        58048,
        8128
      ],
      "id": "49e0bd0e-d082-438c-8754-e40649a4fd1b",
      "name": "Filter to New Videos Only",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-new-videos",
              "leftValue": "={{ $json.source_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        58272,
        8128
      ],
      "id": "fefdd41c-27b5-4474-accf-b39d29435a86",
      "name": "Has New Videos?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scahyfdsgpfurpcnwyrb.supabase.co/rest/v1/marketing_content_items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjYWh5ZmRzZ3BmdXJwY253eXJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5NjcwNjQsImV4cCI6MjA3MzU0MzA2NH0.cXW6ZfijLsA4fTkb-Zyptxp2TkUBBrADVONFvtopAPc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.title, content_type: $json.content_type, url: $json.url, source_platform: $json.source_platform, source_id: $json.source_id, status: $json.status, author: $json.author, description: $json.description, full_content: $json.full_content, date_created: $json.date_created, synced_at: $json.synced_at } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        58496,
        8032
      ],
      "id": "320b2ce2-7e88-45b7-ab4b-a917db2d44d9",
      "name": "Insert New Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8o7ThfsHa3QWcSYa",
          "name": "GL AI Console Supabase Service Role Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-transcript",
              "leftValue": "={{ $json.hasTranscript }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        59168,
        8032
      ],
      "id": "c71b7bb0-5da3-440c-856a-8dd182b5baec",
      "name": "Has Transcript?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://scahyfdsgpfurpcnwyrb.supabase.co/rest/v1/marketing_content_items?id=eq.{{ $json.dbId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjYWh5ZmRzZ3BmdXJwY253eXJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5NjcwNjQsImV4cCI6MjA3MzU0MzA2NH0.cXW6ZfijLsA4fTkb-Zyptxp2TkUBBrADVONFvtopAPc"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { full_content: $json.transcript } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        59392,
        7904
      ],
      "id": "e60769a7-b785-4dd0-a485-20b3fe3ce555",
      "name": "Update with Transcript",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8o7ThfsHa3QWcSYa",
          "name": "GL AI Console Supabase Service Role Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all results and count for sync log\n// This node receives items from both paths: with transcript and without\nconst items = $input.all();\n\nlet synced = 0;\nlet withTranscript = 0;\nlet withoutTranscript = 0;\n\nfor (const item of items) {\n  // Check if this item went through the transcript path\n  if (item.json.hasTranscript === true || item.json.full_content) {\n    withTranscript++;\n  } else {\n    withoutTranscript++;\n  }\n  synced++;\n}\n\nreturn [{\n  json: {\n    itemsProcessed: synced,\n    itemsSynced: synced,\n    withTranscript,\n    withoutTranscript,\n    status: 'completed'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        59632,
        8048
      ],
      "id": "fde4aae3-7acc-4e62-b12d-f7edcc934e62",
      "name": "Count Results",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "marketing_sync_logs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Sync Log').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "items_processed",
              "fieldValue": "={{ $json.itemsProcessed }}"
            },
            {
              "fieldId": "items_synced",
              "fieldValue": "={{ $json.itemsSynced }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        59888,
        8048
      ],
      "id": "f03d6c96-0328-4add-ac77-fa6909f39e30",
      "name": "Update Sync Log",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "marketing_sync_logs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Sync Log').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "items_processed",
              "fieldValue": "0"
            },
            {
              "fieldId": "items_synced",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        58496,
        8224
      ],
      "id": "8d378176-65f0-4bbd-a49d-bc09cabc3ac3",
      "name": "Update Sync Log (No New)",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getTranscript",
        "videoUrl": "=https://www.youtube.com/watch?v={{ $json.source_id }}",
        "text": true,
        "lang": "en"
      },
      "type": "n8n-nodes-supadata.supadata",
      "typeVersion": 1,
      "position": [
        58720,
        8032
      ],
      "id": "80924166-b7f1-46c8-a3a5-2da81c05153e",
      "name": "Fetch Transcript (Supadata)",
      "alwaysOutputData": true,
      "credentials": {
        "supadataApi": {
          "id": "l2RO6jYW3j7zqiEp",
          "name": "Supadata API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format Supadata transcript output for downstream nodes\n// Supadata returns { content: '...' } when text=true\n// Downstream nodes expect: dbId, videoId, transcript, hasTranscript\n\nconst input = $input.first();\nconst supadata = input?.json || {};\n\n// Get the dbId from the Insert New Video node\nconst insertData = $('Insert New Video').first()?.json;\nconst dbId = insertData?.id || insertData?.[0]?.id;\nconst videoId = insertData?.source_id;\n\n// Supadata returns content as the transcript text\nconst transcript = (supadata.content || supadata.transcript || '').trim();\nconst hasTranscript = transcript.length > 0;\n\nreturn [{\n  json: {\n    dbId,\n    videoId,\n    transcript,\n    hasTranscript,\n    charCount: transcript.length,\n    method: 'supadata'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        58944,
        8032
      ],
      "id": "9a6eb8aa-7703-4930-a4e2-c4f66e6ff60d",
      "name": "Format Transcript",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 3AM Trigger": {
      "main": [
        [
          {
            "node": "Create Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sync Log": {
      "main": [
        [
          {
            "node": "Get Existing YouTube IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing YouTube IDs": {
      "main": [
        [
          {
            "node": "Store Existing IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Existing IDs": {
      "main": [
        [
          {
            "node": "Fetch Channel Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Channel Videos": {
      "main": [
        [
          {
            "node": "Filter to New Videos Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to New Videos Only": {
      "main": [
        [
          {
            "node": "Has New Videos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Videos?": {
      "main": [
        [
          {
            "node": "Insert New Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sync Log (No New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Video": {
      "main": [
        [
          {
            "node": "Fetch Transcript (Supadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transcript?": {
      "main": [
        [
          {
            "node": "Update with Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update with Transcript": {
      "main": [
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Results": {
      "main": [
        [
          {
            "node": "Update Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript (Supadata)": {
      "main": [
        [
          {
            "node": "Format Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript": {
      "main": [
        [
          {
            "node": "Has Transcript?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "DCoS5cl84RJM4RoS",
    "binaryMode": "separate",
    "executionTimeout": -1
  },
  "versionId": "e0d33fde-42f4-499c-acc9-feeda828ff7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "idnY7wm9ITrt1EA1VgTRG",
  "tags": [
    {
      "updatedAt": "2026-02-04T21:55:13.753Z",
      "createdAt": "2026-02-04T21:55:13.753Z",
      "id": "1wa7NISUpdKEFpM9",
      "name": "Marketing"
    },
    {
      "updatedAt": "2026-02-04T21:55:13.760Z",
      "createdAt": "2026-02-04T21:55:13.760Z",
      "id": "BqwL4o9obdJJtTme",
      "name": "Content Sync"
    }
  ]
}