gl-ai-console/n8n-workflows/revops/sales-pipeline/Create HubSpot Quote from RevOps Pipeline.json
{
  "name": "Create HubSpot Quote from RevOps Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-hubspot-quote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        36832,
        -1808
      ],
      "id": "1a8322bb-c19b-4485-9f8c-fd5f1b3563df",
      "name": "Receive Quote Request",
      "webhookId": "create-hubspot-quote-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-deal-id-exists",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-deal-id-uuid",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        37056,
        -1808
      ],
      "id": "8c0c413d-36d8-4301-a622-9a3853f479df",
      "name": "Validate Deal ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Invalid deal_id - must be a valid UUID' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        37280,
        -1712
      ],
      "id": "7687578b-0d9d-41a3-878b-b828d9b67dd4",
      "name": "Respond Invalid Deal ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Receive Quote Request').item.json.body.deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        37280,
        -1904
      ],
      "id": "fac5ce8a-f655-4bca-8d9f-ea10faa894aa",
      "name": "Get Deal from Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-hs-deal-exists",
              "leftValue": "={{ $json.hs_deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        37504,
        -1904
      ],
      "id": "5468f8d9-da00-4d99-a571-f0847fe26b5a",
      "name": "Has HubSpot Deal?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Deal does not have HubSpot Deal ID - sync deal first' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        37728,
        -1808
      ],
      "id": "af5fa82a-efa0-4187-bc65-a728fa4c1cdc",
      "name": "Respond No HubSpot Deal"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_stage_data",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "keyValue": "={{ $('Receive Quote Request').item.json.body.deal_id }}"
            },
            {
              "keyName": "stage_id",
              "keyValue": "create-quote"
            },
            {
              "keyName": "data_key",
              "keyValue": "line_items"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        37728,
        -2000
      ],
      "id": "7f3bab8a-00f3-4e63-ae85-3c9f5a17bb3a",
      "name": "Get Line Items from Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $('Get Deal from Supabase').item.json.hs_deal_id }}?associations=contacts,companies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        37952,
        -2000
      ],
      "id": "52d9aeec-8ea8-472a-948e-83d802b2e52a",
      "name": "Get HubSpot Deal",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/quote_template?limit=1&properties=hs_name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        38176,
        -2000
      ],
      "id": "7d5bf371-69e6-4e6c-9f58-6e5a2ca669af",
      "name": "Get Quote Template",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gather all data from previous nodes\nconst dealId = $('Receive Quote Request').first().json.body.deal_id;\nconst dealData = $('Get Deal from Supabase').first().json;\nconst hubspotDeal = $('Get HubSpot Deal').first().json;\nconst templateData = $('Get Quote Template').first().json;\n\n// Get line items from Supabase stage data\nconst lineItemsData = $('Get Line Items from Supabase').first().json;\nconst lineItems = lineItemsData?.data_value || [];\n\n// Extract IDs from HubSpot deal associations\nconst contactId = hubspotDeal.associations?.contacts?.results?.[0]?.id || null;\nconst companyId = hubspotDeal.associations?.companies?.results?.[0]?.id || null;\nconst templateId = templateData.results?.[0]?.id || null;\n\n// Calculate expiration date (30 days from now)\nconst expirationDays = 30;\nconst expDate = new Date();\nexpDate.setDate(expDate.getDate() + expirationDays);\nconst expirationDate = expDate.toISOString().split('T')[0];\n\n// Transform line items from Supabase format to HubSpot format\n// One-time items (isOneTime: true) should NOT have recurring billing fields\nconst hubspotLineItems = lineItems.map(item => {\n  const lineItem = {\n    name: item.service,\n    description: item.description || '',\n    price: item.monthlyPrice,\n    quantity: 1,\n    is_one_time: item.isOneTime || false\n  };\n  // Only add recurring period for monthly items\n  if (!item.isOneTime) {\n    lineItem.recurring_period = 'P1M';\n  }\n  return lineItem;\n});\n\nreturn [{\n  json: {\n    deal_id: dealId,\n    hs_deal_id: dealData.hs_deal_id,\n    contact_id: contactId,\n    company_id: companyId,\n    template_id: templateId,\n    quote_title: `${dealData.company_name || 'Company'} - Monthly Services`,\n    expiration_date: expirationDate,\n    line_items: hubspotLineItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        38400,
        -2000
      ],
      "id": "6ba2543b-0297-4a52-8c2e-e22859084c84",
      "name": "Prepare Quote Data"
    },
    {
      "parameters": {
        "jsCode": "// Get line items from previous node\nconst data = $input.first().json;\nconst lineItems = data.line_items || [];\n\n// Output each line item as a separate item for batch processing\n// Pre-build the HubSpot API body for each item to avoid complex n8n expressions\nreturn lineItems.map(item => {\n  // Build the properties object based on whether it's one-time or recurring\n  const properties = {\n    name: item.name,\n    price: item.price,\n    quantity: item.quantity || 1,\n    description: item.description || ''\n  };\n  \n  // Only add recurring billing fields for non-one-time items\n  if (!item.is_one_time) {\n    properties.recurringbillingfrequency = 'monthly';\n    properties.hs_recurring_billing_period = item.recurring_period || 'P1M';\n  }\n  \n  return {\n    json: {\n      ...data,\n      current_line_item: item,\n      line_item_body: JSON.stringify({ properties })\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        38624,
        -2000
      ],
      "id": "432e548a-a5d0-48b2-ad2c-ea6f69a02bcc",
      "name": "Split Line Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/line_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.line_item_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        38848,
        -2000
      ],
      "id": "39571327-92ea-44b0-b51f-957d37aa2801",
      "name": "Create Line Items",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all created line item IDs\nconst items = $input.all();\nconst lineItemIds = items.map(item => item.json.id);\n\n// Get the original data from Prepare Quote Data\nconst originalData = $('Prepare Quote Data').first().json;\n\nreturn [{\n  json: {\n    ...originalData,\n    line_item_ids: lineItemIds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        39072,
        -2000
      ],
      "id": "57bb8f30-e515-4df7-b507-004e57610f42",
      "name": "Collect Line Item IDs"
    },
    {
      "parameters": {
        "jsCode": "// Get quote ID from creation response\nconst quoteId = $json.id;\n\n// Get data from Collect Line Item IDs\nconst data = $('Collect Line Item IDs').first().json;\n\nreturn [{\n  json: {\n    quote_id: quoteId,\n    hs_deal_id: data.hs_deal_id,\n    contact_id: data.contact_id,\n    company_id: data.company_id,\n    template_id: data.template_id,\n    line_item_ids: data.line_item_ids,\n    deal_id: data.deal_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        39520,
        -2000
      ],
      "id": "1ac5f0d2-f74f-4905-b0d7-99966305da51",
      "name": "Prepare Associations"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $json.quote_id }}/associations/default/deals/{{ $json.hs_deal_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        39744,
        -2000
      ],
      "id": "3064ee7f-04c3-4803-9014-5f99ca9a5d1d",
      "name": "Associate with Deal",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $('Prepare Associations').item.json.quote_id }}/associations/default/contacts/{{ $('Prepare Associations').item.json.contact_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        39968,
        -2000
      ],
      "id": "26f78a35-46a8-4821-9557-11e4ef9096b5",
      "name": "Associate with Contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $('Prepare Associations').item.json.quote_id }}/associations/default/companies/{{ $('Prepare Associations').item.json.company_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40192,
        -2000
      ],
      "id": "1cb08f4f-f29b-44cb-a85c-ff6e39cd2b26",
      "name": "Associate with Company",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $('Prepare Associations').item.json.quote_id }}/associations/default/quote_template/{{ $('Prepare Associations').item.json.template_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40416,
        -2000
      ],
      "id": "55e8e588-3707-4bd1-a1a6-ca6e7977a057",
      "name": "Associate with Template",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get line item IDs and quote ID\nconst data = $('Prepare Associations').first().json;\nconst lineItemIds = data.line_item_ids || [];\n\n// Return each line item ID for association\nreturn lineItemIds.map(id => ({\n  json: {\n    quote_id: data.quote_id,\n    line_item_id: id,\n    deal_id: data.deal_id,\n    hs_deal_id: data.hs_deal_id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40640,
        -2000
      ],
      "id": "6355dc7d-d4dd-4454-af6e-75f1484ee207",
      "name": "Split Line Item Associations"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/quotes/{{ $json.quote_id }}/associations/default/line_items/{{ $json.line_item_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40864,
        -2000
      ],
      "id": "92a8982e-17cd-4e23-8e91-0fc85e7deeda",
      "name": "Associate Line Items with Quote",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/line_items/{{ $('Split Line Item Associations').item.json.line_item_id }}/associations/default/deals/{{ $('Split Line Item Associations').item.json.hs_deal_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        41088,
        -2000
      ],
      "id": "1fc1cf31-3350-49ac-a7b7-54addfb761de",
      "name": "Associate Line Items with Deal",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the quote_id and deal_id from the first item\nconst data = $('Prepare Associations').first().json;\n\nreturn [{\n  json: {\n    quote_id: data.quote_id,\n    deal_id: data.deal_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        41312,
        -2000
      ],
      "id": "cc87c348-d642-4f89-98e7-2b10b08fd118",
      "name": "Get Quote ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/quotes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_title\": \"{{ $json.quote_title }}\",\n    \"hs_expiration_date\": \"{{ $json.expiration_date }}\",\n    \"hs_status\": \"DRAFT\",\n    \"hs_language\": \"en\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        39296,
        -2000
      ],
      "id": "962c7eca-59b4-4d20-b3a3-ecc9a5226aab",
      "name": "Create Quote",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/quotes/{{ $json.quote_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_status\": \"APPROVAL_NOT_NEEDED\",\n    \"hs_domain\": \"growthlabfinancial-4723689.hs-sites.com\",\n    \"hs_slug\": \"quote-{{ $json.quote_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        41536,
        -2000
      ],
      "id": "2a953b3e-f9ae-40fc-8816-60ab4dc84295",
      "name": "Publish Quote",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/quotes/{{ $('Get Quote ID').item.json.quote_id }}?properties=hs_quote_link,hs_title,hs_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        41984,
        -2000
      ],
      "id": "2ead0a87-5e10-4694-804d-69b3626a3b94",
      "name": "Get Quote Details",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract quote details\nconst quoteDetails = $json;\nconst dealId = $('Get Quote ID').first().json.deal_id;\nconst quoteId = $('Get Quote ID').first().json.quote_id;\nconst quoteLink = quoteDetails.properties?.hs_quote_link || null;\n\nreturn [{\n  json: {\n    deal_id: dealId,\n    quote_id: quoteId,\n    quote_link: quoteLink\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        42208,
        -2000
      ],
      "id": "657da24f-ed3e-4bcd-8879-dc5f439f0640",
      "name": "Prepare Supabase Update"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "revops_pipeline_stage_data",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "condition": "eq",
              "keyValue": "={{ $json.deal_id }}"
            },
            {
              "keyName": "stage_id",
              "condition": "eq",
              "keyValue": "create-quote"
            },
            {
              "keyName": "data_key",
              "condition": "eq",
              "keyValue": "hubspot_synced"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_value",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        42432,
        -2000
      ],
      "id": "fb22b14b-5acb-462d-bd38-a10d602c3e44",
      "name": "Update HubSpot Synced",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "revops_pipeline_stage_data",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Supabase Update').item.json.deal_id }}"
            },
            {
              "keyName": "stage_id",
              "condition": "eq",
              "keyValue": "create-quote"
            },
            {
              "keyName": "data_key",
              "condition": "eq",
              "keyValue": "hubspot_synced_at"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_value",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        42656,
        -2000
      ],
      "id": "d313377f-c39c-47f9-a758-5d0d187086f2",
      "name": "Update HubSpot Synced At",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "revops_pipeline_stage_data",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Supabase Update').item.json.deal_id }}"
            },
            {
              "keyName": "stage_id",
              "condition": "eq",
              "keyValue": "create-quote"
            },
            {
              "keyName": "data_key",
              "condition": "eq",
              "keyValue": "hubspot_quote_link"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_value",
              "fieldValue": "={{ $('Prepare Supabase Update').item.json.quote_link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        42880,
        -2000
      ],
      "id": "cbae7748-c27f-4a3c-9bd4-e734b33e6ad2",
      "name": "Update Quote Link",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, quote_id: $('Prepare Supabase Update').item.json.quote_id, quote_link: $('Prepare Supabase Update').item.json.quote_link }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        43104,
        -2000
      ],
      "id": "ecbc13e0-8b93-4fd0-9848-c06c637e28dd",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        41760,
        -2000
      ],
      "id": "c777e557-c50c-4ca6-91b0-4a3cab270935",
      "name": "Wait For Quote URL",
      "webhookId": "8bc024a1-91a5-4115-a7a6-72946f5723a8"
    }
  ],
  "pinData": {
    "Receive Quote Request": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1055749.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "50",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "68.6.247.35",
            "x-forwarded-host": "n8n.srv1055749.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "30ef30da0b1d",
            "x-real-ip": "68.6.247.35"
          },
          "params": {},
          "query": {},
          "body": {
            "deal_id": "86828116-46bb-41a4-819d-5d16e6dfcf7b"
          },
          "webhookUrl": "https://n8n.srv1055749.hstgr.cloud/webhook/create-hubspot-quote",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Quote Request": {
      "main": [
        [
          {
            "node": "Validate Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal ID": {
      "main": [
        [
          {
            "node": "Get Deal from Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal from Supabase": {
      "main": [
        [
          {
            "node": "Has HubSpot Deal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has HubSpot Deal?": {
      "main": [
        [
          {
            "node": "Get Line Items from Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Line Items from Supabase": {
      "main": [
        [
          {
            "node": "Get HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HubSpot Deal": {
      "main": [
        [
          {
            "node": "Get Quote Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote Template": {
      "main": [
        [
          {
            "node": "Prepare Quote Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Quote Data": {
      "main": [
        [
          {
            "node": "Split Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Line Items": {
      "main": [
        [
          {
            "node": "Create Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Line Items": {
      "main": [
        [
          {
            "node": "Collect Line Item IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Line Item IDs": {
      "main": [
        [
          {
            "node": "Create Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Associations": {
      "main": [
        [
          {
            "node": "Associate with Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Deal": {
      "main": [
        [
          {
            "node": "Associate with Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Contact": {
      "main": [
        [
          {
            "node": "Associate with Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Company": {
      "main": [
        [
          {
            "node": "Associate with Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate with Template": {
      "main": [
        [
          {
            "node": "Split Line Item Associations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Line Item Associations": {
      "main": [
        [
          {
            "node": "Associate Line Items with Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Line Items with Quote": {
      "main": [
        [
          {
            "node": "Associate Line Items with Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Line Items with Deal": {
      "main": [
        [
          {
            "node": "Get Quote ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote ID": {
      "main": [
        [
          {
            "node": "Publish Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Quote": {
      "main": [
        [
          {
            "node": "Prepare Associations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Quote": {
      "main": [
        [
          {
            "node": "Wait For Quote URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote Details": {
      "main": [
        [
          {
            "node": "Prepare Supabase Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Update": {
      "main": [
        [
          {
            "node": "Update HubSpot Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Synced": {
      "main": [
        [
          {
            "node": "Update HubSpot Synced At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Synced At": {
      "main": [
        [
          {
            "node": "Update Quote Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Quote Link": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Quote URL": {
      "main": [
        [
          {
            "node": "Get Quote Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "5fb85ea7-4705-411a-9c56-09a4e0389033",
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "FzfX1zq42asdmdOkDrS_P",
  "tags": []
}