gl-ai-console/n8n-workflows/revops/sales-pipeline/Move RevOps Deal to SQL - Create Quote.json
{
  "name": "Move RevOps Deal to SQL - Create Quote",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "move-to-create-quote",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "dd52b359-6bd4-4c45-b37e-28b395f20b4a",
      "name": "Receive Deal ID",
      "webhookId": "move-to-create-quote-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validate-deal-id-not-empty",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "validate-deal-id-uuid",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "5f5aa3ce-34ce-424a-981a-2d2fbd08e54a",
      "name": "Validate Deal ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Receive Deal ID').item.json.body.deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "310d10b9-4c13-4f10-9519-0794d0e59576",
      "name": "Get Deal from Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-hs-deal-id-exists",
              "leftValue": "={{ $json.hs_deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "7956339e-0b9b-488f-895a-1cfb323f23e3",
      "name": "Has HubSpot Deal ID?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "operation": "update",
        "dealId": {
          "__rl": true,
          "value": "={{ $('Get Deal from Supabase').item.json.hs_deal_id }}",
          "mode": "id"
        },
        "updateFields": {
          "stage": "=5103514"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "408dc9f0-e396-4c43-8f6c-ec969f791bac",
      "name": "Update HubSpot Deal Stage",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Receive Deal ID').item.json.body.deal_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hs_stage",
              "fieldValue": "SQL - Create Quote"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "0c40bfa5-7831-4c0f-9a1e-06b1a7984b1b",
      "name": "Update Supabase HS Stage",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Deal moved to SQL - Create Quote\", deal_id: $('Receive Deal ID').item.json.body.deal_id, hs_deal_id: $('Get Deal from Supabase').item.json.hs_deal_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1328,
        0
      ],
      "id": "bca97b18-27df-4d84-9617-696bfddf7576",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: \"Invalid deal_id - must be a valid UUID\" }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        208
      ],
      "id": "4608f727-d26c-490b-a15b-98101a4c2b82",
      "name": "Respond Invalid ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: \"Deal does not have a HubSpot Deal ID - cannot update HubSpot\", deal_id: $('Receive Deal ID').item.json.body.deal_id }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        208
      ],
      "id": "2b4582d9-f2d1-4e23-817f-8ee92a6ebd5a",
      "name": "Respond No HubSpot Deal"
    }
  ],
  "pinData": {
    "Receive Deal ID": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1055749.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "50",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "68.6.247.35",
            "x-forwarded-host": "n8n.srv1055749.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "30ef30da0b1d",
            "x-real-ip": "68.6.247.35"
          },
          "params": {},
          "query": {},
          "body": {
            "deal_id": "86828116-46bb-41a4-819d-5d16e6dfcf7b"
          },
          "webhookUrl": "https://n8n.srv1055749.hstgr.cloud/webhook/move-to-create-quote",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Deal ID": {
      "main": [
        [
          {
            "node": "Validate Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal ID": {
      "main": [
        [
          {
            "node": "Get Deal from Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal from Supabase": {
      "main": [
        [
          {
            "node": "Has HubSpot Deal ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has HubSpot Deal ID?": {
      "main": [
        [
          {
            "node": "Update HubSpot Deal Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Deal Stage": {
      "main": [
        [
          {
            "node": "Update Supabase HS Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supabase HS Stage": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "254ced02-3b68-4d60-9e3e-1233279c27e3",
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "NlzqwMxFeBL9nSrIrsnsM",
  "tags": []
}