gl-ai-console/n8n-workflows/revops-internal-assignment/workflow.json
{
  "name": "Send Internal Assignment Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revops-internal-assignment",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        192
      ],
      "id": "webhook-internal-assignment",
      "name": "Receive Internal Assignment Request",
      "webhookId": "revops-internal-assignment-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validate-deal-id-exists",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "validate-deal-id-uuid",
              "leftValue": "={{ $json.body.deal_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        192
      ],
      "id": "validate-deal-id",
      "name": "Validate Deal ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_deals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        96
      ],
      "id": "get-deal-details",
      "name": "Get Deal Details",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-deal-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        96
      ],
      "id": "check-deal-found",
      "name": "Check Deal Found"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "revops_pipeline_stage_data",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "keyValue": "={{ $('Get Deal Details').first().json.id }}"
            },
            {
              "keyName": "stage_id",
              "keyValue": "internal-review"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "get-stage-data",
      "name": "Get Internal Review Stage Data",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-stage-data-exists",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "check-stage-data",
      "name": "Check Stage Data Exists"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform key-value stage data rows into a single object\nconst items = $input.all();\nconst stageData = {};\n\nfor (const item of items) {\n  const key = item.json.data_key;\n  const value = item.json.data_value;\n  stageData[key] = value;\n}\n\n// Get deal details from earlier node\nconst dealDetails = $('Get Deal Details').first().json;\n\n// Build recipient emails\nconst toRecipients = stageData.to_recipients || [];\nconst toEmails = toRecipients.map(r => r.email).join(', ');\n\n// Check if CC Tim is enabled\nconst ccTimEnabled = stageData.cc_tim_enabled !== false;\nconst ccEmail = ccTimEnabled ? 't.scullion@growthlabfinancial.com' : '';\n\nreturn {\n  json: {\n    deal_id: dealDetails.id,\n    company_name: dealDetails.company_name,\n    to_emails: toEmails,\n    cc_email: ccEmail,\n    email_subject: stageData.email_subject || '',\n    email_body: stageData.email_body || '',\n    cc_tim_enabled: ccTimEnabled\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -96
      ],
      "id": "build-email-data",
      "name": "Build Email Data"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to_emails }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {
          "ccEmail": "={{ $json.cc_email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        688,
        -96
      ],
      "id": "send-gmail",
      "name": "Send Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_OAUTH_ID",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "revops_pipeline_stage_data",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "deal_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Deal Details').first().json.id }}"
            },
            {
              "keyName": "stage_id",
              "condition": "eq",
              "keyValue": "internal-review"
            },
            {
              "keyName": "data_key",
              "condition": "eq",
              "keyValue": "sent_at"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_value",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        -96
      ],
      "id": "update-sent-at",
      "name": "Update Sent At Timestamp",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, deal_id: $('Get Deal Details').first().json.id, message: 'Internal assignment email sent successfully' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1136,
        -96
      ],
      "id": "respond-success",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Invalid deal_id provided. Must be a valid UUID.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -432,
        288
      ],
      "id": "respond-invalid-id",
      "name": "Respond Invalid ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Deal not found.' } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        192
      ],
      "id": "respond-deal-not-found",
      "name": "Respond Deal Not Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'No internal assignment data found for this deal. Please initialize the stage first.' } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        96
      ],
      "id": "respond-no-stage-data",
      "name": "Respond No Stage Data"
    }
  ],
  "pinData": {
    "Receive Internal Assignment Request": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1055749.hstgr.cloud",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "deal_id": "091dfc57-052b-4564-afff-46752758fc48"
          },
          "webhookUrl": "https://n8n.srv1055749.hstgr.cloud/webhook/revops-internal-assignment",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Internal Assignment Request": {
      "main": [
        [
          {
            "node": "Validate Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal ID": {
      "main": [
        [
          {
            "node": "Get Deal Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Details": {
      "main": [
        [
          {
            "node": "Check Deal Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deal Found": {
      "main": [
        [
          {
            "node": "Get Internal Review Stage Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Deal Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Internal Review Stage Data": {
      "main": [
        [
          {
            "node": "Check Stage Data Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stage Data Exists": {
      "main": [
        [
          {
            "node": "Build Email Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Stage Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Data": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Update Sent At Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sent At Timestamp": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "initial-version",
  "meta": {
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "revops-internal-assignment",
  "tags": []
}
