gl-ai-console/n8n-workflows/strms/sales-pipeline/Create Sales Pipeline HubSpot Deal.json
{
  "name": "Create Sales Pipeline HubSpot Deal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-sales-pipeline-deal",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -96
      ],
      "id": "842c9ea9-b989-47fc-a438-6df9a00cebd6",
      "name": "Catch Project ID",
      "webhookId": "17f5adcf-55ea-43a0-aaed-3c71af18681c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a04a849-38f7-43f4-bb87-a178829c0ce5",
              "leftValue": "={{ $json.body.project_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d5f0ffd4-c502-4b20-a222-21c1e04c3dfa",
              "leftValue": "={{ $json.body.project_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -96
      ],
      "id": "6af2d3a6-3ecd-434e-b07a-f7d5e33022a8",
      "name": "Validate Project ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "strms_projects",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -96
      ],
      "id": "40584488-3199-4e9b-8b69-2023abc5f931",
      "name": "Get Project Details",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "stage": "=3020119",
        "additionalFields": {
          "dealName": "={{ $('Get Project Details').item.json.company }} - STRMS",
          "dealOwner": {
            "__rl": true,
            "value": 664091983,
            "mode": "list",
            "cachedResultName": "t.scullion@growthlabfinancial.com"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "23666a32-bec8-4fd2-947a-e4faeec7e7f6",
      "name": "Create Sales Pipeline Deal",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contactEmail = $('Get Project Details').first().json.email;\n\n// Split the email at '@' and take the domain part\nconst domain = contactEmail.split('@')[1];\n\n// Return it as output\nreturn [{ domain }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -96
      ],
      "id": "75aedc1c-2ae9-4b7b-8bf6-5e98b2ed7cd6",
      "name": "Extract Domain From Email"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "operation": "searchByDomain",
        "domain": "={{ $json.domain }}",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1120,
        -96
      ],
      "id": "59936361-5c34-4c23-9f5f-54ec7498cdf4",
      "name": "Search For Company By Domain",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "limit": 1,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Get Project Details').item.json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1344,
        -96
      ],
      "id": "a2283ee3-bd7e-4a3d-8115-5bac8f46e556",
      "name": "Search For HubSpot Contact",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/deal/{{ $('Create Sales Pipeline Deal').item.json.dealId }}/associations/default/contact/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        -96
      ],
      "id": "0271ec5e-8fee-4fc8-92bc-413825113e9a",
      "name": "Associate Contact To Deal",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/deal/{{ $('Create Sales Pipeline Deal').item.json.dealId }}/associations/default/company/{{ $('Search For Company By Domain').item.json.companyId }}\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        -96
      ],
      "id": "8a1b8d25-2a6b-4873-9dbb-cfb9265eb0af",
      "name": "Associate Company To Deal",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Catch Project ID": {
      "main": [
        [
          {
            "node": "Validate Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Project ID": {
      "main": [
        [
          {
            "node": "Get Project Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Details": {
      "main": [
        [
          {
            "node": "Create Sales Pipeline Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain From Email": {
      "main": [
        [
          {
            "node": "Search For Company By Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Company By Domain": {
      "main": [
        [
          {
            "node": "Search For HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For HubSpot Contact": {
      "main": [
        [
          {
            "node": "Associate Contact To Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Pipeline Deal": {
      "main": [
        [
          {
            "node": "Extract Domain From Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Contact To Deal": {
      "main": [
        [
          {
            "node": "Associate Company To Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "e3c50a79-06d9-40f0-bcc5-82e45c47e509",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "zuEyEiwNoLcUIXlh",
  "tags": []
}