gl-ai-console/n8n-workflows/strms/sales-pipeline/Generate Readiness Assessment.json
{
  "name": "Generate Readiness Assessment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "readiness-assessment",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -352
      ],
      "id": "fc78fb95-6d56-4eb1-a28b-1371a208b80f",
      "name": "Catch Project ID",
      "webhookId": "ced0062e-e669-4824-8a90-c4ea278d83c3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c2fb036-51bd-4ed6-b450-6deb615a79bf",
              "leftValue": "={{ $json.body.project_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b15aeae8-c854-4d68-a25b-5e1a9d38df2b",
              "leftValue": "={{ $json.body.project_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        -352
      ],
      "id": "df2839f3-8b92-42da-9641-44885550575c",
      "name": "Validate Project ID"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "strms_project_files",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.project_id }}"
            },
            {
              "keyName": "file_type_id",
              "condition": "eq",
              "keyValue": "demo-call-transcript"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        -352
      ],
      "id": "5c069fdb-1b9b-4a8b-969a-a9717731c7f4",
      "name": "Query Transcript Metadata",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e0bb661-6200-4144-b62e-7e33027f4b8d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -352
      ],
      "id": "7c1925a2-ada6-491f-b313-e2fa22966bbb",
      "name": "Check Transcript Found"
    },
    {
      "parameters": {
        "url": "=https://scahyfdsgpfurpcnwyrb.supabase.co/storage/v1/object/{{ $json.storage_bucket }}/{{ $json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -352
      ],
      "id": "69fc0e8b-39b9-4857-a5e7-34679499bb1b",
      "name": "Download Transcript",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8o7ThfsHa3QWcSYa",
          "name": "GL AI Console Supabase Service Role Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const projectId = $('Catch Project ID').first().json.body.project_id;\nconst transcriptContent = $input.first().json.data;\nconst transcriptFileID = $('Query Transcript Metadata').first().json.id;\nconst transcriptFileName = $('Query Transcript Metadata').first().json.file_name;\n\nreturn [{\n  json: {\n    project_id: projectId,\n    transcript_content: transcriptContent,\n    transcript_file_id: transcriptFileID,\n    transcript_file_name: transcriptFileName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -352
      ],
      "id": "f679a2c3-7520-4953-8982-644be5a33503",
      "name": "Prepare Transcript Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert business analyst specializing in automation readiness assessments. Analyze the provided demo call transcript and create a comprehensive readiness assessment document.",
              "role": "system"
            },
            {
              "content": "=Analyze this demo call transcript and create a readiness assessment with the following sections:\n\n1. CUSTOMER READINESS ASSESSMENT\n- Technical capability to implement proposed automations\n- Organizational readiness (leadership support, change management)\n- Resource availability (time, budget, personnel)\n- Overall readiness score (High/Medium/Low)\n\n2. AUTOMATION FEASIBILITY ANALYSIS\n- Technical complexity of proposed solutions\n- Integration requirements and challenges\n- Timeline expectations and realism\n- Resource requirements\n- Overall feasibility score (High/Medium/Low)\n\n3. RECOMMENDATION\n- Clear go/no-go recommendation\n- Key success factors if proceeding\n- Potential roadblocks to address\n- Suggested next steps\n\nTranscript:\n={{ $json.transcript_content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1264,
        -352
      ],
      "id": "637e592e-af83-4a84-854e-6611d22bf6ac",
      "name": "Generate Assessment With AI",
      "credentials": {
        "openAiApi": {
          "id": "lSSimk5MMw6cbVWo",
          "name": "Automation OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the AI-generated assessment with headers and metadata\nconst projectId = $('Catch Project ID').first().json.body.project_id;\nconst aiResponse = $input.first().json.message.content;\n\n// Generate timestamp for filename\nconst now = new Date();\nconst timestamp = now\n  .toISOString()\n  .replace(/[-:]/g, '')\n  .split('.')[0]\n  .replace('T', '_');\n\nconst dateFormatted = now.toISOString().split('T')[0];\nconst timeFormatted = now.toTimeString().split(' ')[0];\n\n// Construct plain text assessment document\nlet formattedDocument = `===================================================\nREADINESS ASSESSMENT DOCUMENT\n===================================================\nProject ID: ${projectId}\nGenerated: ${dateFormatted} ${timeFormatted}\nGenerated By: AI Automation\n===================================================\n\n${aiResponse}\n\n===================================================\nEnd of Assessment\nGenerated automatically by GrowthLab AI Console\n===================================================`;\n\n// ✅ Normalize all text for UTF-8 and JSON compatibility\nformattedDocument = formattedDocument\n  // Replace smart quotes with straight quotes\n  .replace(/[“”]/g, '\"')\n  .replace(/[‘’]/g, \"'\")\n  // Replace en/em dashes with hyphen\n  .replace(/[–—]/g, '-')\n  // Replace ellipsis with three dots\n  .replace(/…/g, '...')\n  // Replace bullet points with a hyphen\n  .replace(/•/g, '-')\n  // Replace non-breaking spaces with normal ones\n  .replace(/\\u00A0/g, ' ')\n  // Normalize line endings\n  .replace(/\\r?\\n/g, '\\n');\n\n// ✅ Make it JSON-safe for Supabase\nconst jsonSafeFormatted = JSON.stringify(formattedDocument);\n\n// ✅ Parse back to remove wrapping quotes (so stored as readable text)\nconst safeDocument = JSON.parse(jsonSafeFormatted);\n\nreturn [\n  {\n    json: {\n      project_id: projectId,\n      formatted_assessment: safeDocument,\n      assessment_content: aiResponse,\n      generation_timestamp: timestamp,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -352
      ],
      "id": "266959ab-403f-4387-96db-f9b5c8af4efe",
      "name": "Format Assessment Document"
    },
    {
      "parameters": {
        "jsCode": "// Generate filename and storage path\nconst projectId = $('Catch Project ID').first().json.body.project_id;\nconst timestamp = $input.first().json.generation_timestamp;\n\nconst filename = `project_${projectId}_readiness_assessment_${timestamp}.txt`;\nconst storagePath = `${projectId}/readiness-pdf/${filename}`;\n\nreturn [\n  {\n    json: {\n      ...($input.first().json),\n      generated_filename: filename,\n      storage_path: storagePath,\n      upload_path: storagePath\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -352
      ],
      "id": "7a7cb452-1f8e-4aee-941b-584cc2d4f0e9",
      "name": "Generate Filename"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0622a56-15d4-47a9-97cf-3e000bea844e",
              "name": "file_size",
              "value": "={{ $json.formatted_assessment.length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        -352
      ],
      "id": "e480be85-1c07-4ba1-a32c-ea8fbf101e1c",
      "name": "Calculate File Size"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://scahyfdsgpfurpcnwyrb.supabase.co/storage/v1/object/strms-project-files/{{ $json.upload_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/plain"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Text/Plain",
        "body": "={{ $json.formatted_assessment }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -352
      ],
      "id": "1986bf01-5b17-4a81-831c-92b3719c64a6",
      "name": "Upload Assessment To Storage",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8o7ThfsHa3QWcSYa",
          "name": "GL AI Console Supabase Service Role Key"
        }
      }
    },
    {
      "parameters": {
        "tableId": "strms_project_files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $('Catch Project ID').item.json.body.project_id }}"
            },
            {
              "fieldId": "file_type_id",
              "fieldValue": "readiness-pdf"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $('Generate Filename').item.json.generated_filename }}"
            },
            {
              "fieldId": "file_path",
              "fieldValue": "={{ $('Calculate File Size').item.json.storage_path }}"
            },
            {
              "fieldId": "file_size",
              "fieldValue": "={{ $('Calculate File Size').item.json.file_size }}"
            },
            {
              "fieldId": "uploaded_by",
              "fieldValue": "n8n-workflow"
            },
            {
              "fieldId": "storage_bucket",
              "fieldValue": "strms-project-files"
            },
            {
              "fieldId": "storage_path",
              "fieldValue": "={{ $('Calculate File Size').item.json.storage_path }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2736,
        -352
      ],
      "id": "aafe2d43-2344-44a2-9c52-f5bcd3a9842f",
      "name": "Insert File Metadata",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2512,
        -352
      ],
      "id": "2ff6d2f8-c428-4443-84f7-a7fcfd8313d5",
      "name": "Wait For File Upload",
      "webhookId": "42033297-bfd0-4f06-a37b-1d5d79660daa"
    }
  ],
  "pinData": {},
  "connections": {
    "Catch Project ID": {
      "main": [
        [
          {
            "node": "Validate Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Project ID": {
      "main": [
        [
          {
            "node": "Query Transcript Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Transcript Metadata": {
      "main": [
        [
          {
            "node": "Check Transcript Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Transcript Found": {
      "main": [
        [
          {
            "node": "Download Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Transcript": {
      "main": [
        [
          {
            "node": "Prepare Transcript Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Transcript Data": {
      "main": [
        [
          {
            "node": "Generate Assessment With AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Assessment With AI": {
      "main": [
        [
          {
            "node": "Format Assessment Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Assessment Document": {
      "main": [
        [
          {
            "node": "Generate Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Filename": {
      "main": [
        [
          {
            "node": "Calculate File Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate File Size": {
      "main": [
        [
          {
            "node": "Upload Assessment To Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Assessment To Storage": {
      "main": [
        [
          {
            "node": "Wait For File Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For File Upload": {
      "main": [
        [
          {
            "node": "Insert File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "9979e921-2ed9-45be-947c-5fd49b35f6bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "u61NhytRS3elFIlJ",
  "tags": []
}