gl-ai-console/n8n-workflows/strms/sales-pipeline/Move Sales Pipeline HubSpot Deal To Closed Won.json
{
  "name": "Move Sales Pipeline HubSpot Deal To Closed Won",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "move-closed-won",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -96
      ],
      "id": "354c0058-bf67-48d7-b9b5-0f00b47e8537",
      "name": "Catch Project ID",
      "webhookId": "bb35c681-ec03-4596-923b-7b3386e8156b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a04a849-38f7-43f4-bb87-a178829c0ce5",
              "leftValue": "={{ $json.body.project_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d5f0ffd4-c502-4b20-a222-21c1e04c3dfa",
              "leftValue": "={{ $json.body.project_id }}",
              "rightValue": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -96
      ],
      "id": "3048ff67-7cb7-40a3-b2c4-7f4bf03606ee",
      "name": "Validate Project ID"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "strms_projects",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -96
      ],
      "id": "58022e03-e01c-4feb-8f0c-ddb441e6e3a9",
      "name": "Get Project Details",
      "credentials": {
        "supabaseApi": {
          "id": "ZHhTrJNxn34MA3CW",
          "name": "GL AI Console Supabase Key"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "operation": "search",
        "limit": 1,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "dealname",
                    "value": "={{ $json.company }} - STRMS"
                  },
                  {
                    "propertyName": "dealstage",
                    "operator": "NEQ",
                    "value": "closedwon"
                  },
                  {
                    "propertyName": "dealstage",
                    "operator": "NEQ",
                    "value": "closedlost"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        640,
        -96
      ],
      "id": "24e973ae-7fea-457c-9995-5d104efaabd0",
      "name": "Find HubSpot Deal",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "operation": "update",
        "dealId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "stage": "=closedwon"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        848,
        -96
      ],
      "id": "ea1fb3cd-edce-4ab3-8a55-10621de7c309",
      "name": "Move Deal To Closed Won",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "1ao5IPqi22U8ZzU3",
          "name": "GL HubSpot OAuth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Catch Project ID": {
      "main": [
        [
          {
            "node": "Validate Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Project ID": {
      "main": [
        [
          {
            "node": "Get Project Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Details": {
      "main": [
        [
          {
            "node": "Find HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find HubSpot Deal": {
      "main": [
        [
          {
            "node": "Move Deal To Closed Won",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "DCoS5cl84RJM4RoS"
  },
  "versionId": "0460aea6-53e6-4324-983e-eaa55ba38b0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14113fc770fd9b2549e1172bcc9e56385af927f181d92711cbaa8bf45732284"
  },
  "id": "sztpJIfpTlnnVS0x",
  "tags": []
}